/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #88bbbc;
  --color-light-blue: #d8eaea;
  --color-light-grey: #dedede;
  /* work part's highlights */
  --color-pale-blue: #dceaeb;
  --color-grey: #cecece;

  /* Font size */
  --font-large: 48px;
  --font-medium: 38px;
  --font-regular: 28px;
  --font-small: 18px;
  --font-micro: 16px;
  --font-nano: 14px;

  /* Font weight */
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  /* list-style: none; */
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-family: "Libre Baskerville", serif;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

p {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

/* Common section */
.section__container {
  max-width: 1200px;
  margin: auto;
}

.division__line {
  background-color: var(--color-light-grey);
  color: transparent;
  height: 1px;
  margin: 30px 0;
}

.talk__container {
  background-color: var(--color-white);
  border: solid 1px var(--color-grey);
  width: 200px;
  height: 70px;
  text-align: center;
}

.talk__btn {
  line-height: 70px;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all var(--animation-duration) ease-in;
}

.talk__btn:hover {
  background-color: var(--color-pale-blue);
  font-weight: var(--weight-bold);
  transform: scale(1.01);
  border: solid 2px var(--color-grey);
}

.talk__btn i {
  color: var(--color-grey);
  margin-right: 15px;
}

.subtitle {
  color: var(--color-blue);
  font-size: var(--font-micro);
}

#study button {
  background-color: var(--color-white);
  border: solid 1px var(--color-grey);
  font-size: var(--font-micro);
}

.work__detail {
  padding: 15px 50px;
}

/* Navbar */
#navbar {
  background-color: var(--color-light-blue);
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2;
  /* opacity: 0.7; */
}

#navbar.navbar--light {
  opacity: 0.7;
}

.navbar__logo {
  background-color: var(--color-black);
  padding: 18px;
  display: flex;
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
}

.navbar__logo a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__hidden {
  background-color: var(--color-blue);
  color: transparent;
  top: 30px;
  width: 25px;
  height: 30px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item {
  padding: 8px 12px;
  font-size: var(--font-nano);
  z-index: 1;
}

.navbar__menu__item:hover .navbar__hidden {
  opacity: 1;
  top: 17px;
}

/* Home */
#home {
  padding: 40px;
  padding-top: 110px;
  display: flex;
}

#home .section__container {
  display: flex;
}

.home__title-italic {
  font-weight: var(--weight-semi-bold);
}

.home__title-section {
  margin-top: -15px;
  width: 390px;
  height: 60px;
  display: flex;
  position: relative;
  z-index: 1;
}

.home__title-section .highlights {
  background-color: var(--color-light-blue);
  color: transparent;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: -1;
}

.home__right {
  height: 200px;
}

.home__right .contact__links {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.contact__links a {
  margin-bottom: 20px;
  font-size: var(--font-nano);
}

.home__subtitle {
  margin: 20px 0;
}

.home__explore {
  z-index: 1;
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.home__explore i {
  border-radius: 50%;
  border: 1px solid;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.home__explore .division__line {
  width: 100px;
  margin-left: 20px;
  cursor: auto;
}

.home__explore-contents {
  background-color: var(--color-light-blue);
  margin: 20px;
  position: absolute;
  max-width: 580px;
  width: 40%;
  /* display: none; */
  opacity: 0;
}

/* .show {
  opacity: 1;
} */

.home__explore-contents.show {
  opacity: 1;
}

/* home center */
.home__center {
  margin-left: 50px;
  position: relative;
  /* height: 100px; */
}

.home__avatar {
  height: 650px;
  width: 450px;
}

.home__center .talk__container {
  position: absolute;
  top: 530px;
  left: 380px;
  cursor: pointer;
  z-index: 1;
}

.line__container .division__line {
  margin-bottom: 30px;
}

.home__right {
  z-index: 1;
}

/* Study */
#study {
  padding: 40px;
  padding-top: 80px;
  /* padding-bottom: 80px; */
  margin-bottom: 100px;
  position: relative;
}

#study .section__container {
  position: relative;
}

#study .section__container .title {
  margin: 20px 0 50px 0;
}

#study button {
  transition: all var(--animation-duration) ease-in;
  /* border: 1px solid transparent; */
}

#study button:hover {
  background-color: var(--color-pale-blue);
  font-weight: var(--weight-bold);
}

.btn__container {
  /* width: 50px; */
  position: relative;
}

.study__all-btn {
  position: absolute;
  float: right;
  width: 200px;
  top: -100px;
  left: 900px;
  padding: 14px 28px;
  z-index: 1;
}

.work {
  display: flex;
}

.work:nth-child(odd) .work__right {
  margin-left: 30px;
}

.work:nth-child(even) .work__left {
  margin-right: 30px;
}

.work:nth-child(even) {
  margin: 200px 0;
}

.work img {
  width: 500px;
}

.work__num {
  color: var(--color-grey);
  margin: 10px 0;
}

.work__description {
  margin: 30px 0;
}

/* Clients */
#clients {
  padding: 20px;
  color: var(--color-white);
  text-align: center;
}

#clients .section__container {
  background-color: var(--color-blue);
  margin: auto;
  padding: 100px 80px 50px 80px;
}

#clients .subtitle {
  color: var(--color-white);
  font-size: var(--font-micro);
}

#clients .title {
  margin: 20px 0;
}

.clients__list {
  font-family: "Yellowtail", cursive;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.client {
  /* border: solid 1px yellow; */
  width: 250px;
  height: 250px;
  line-height: 170px;
  position: relative;
}

.client i {
  font-size: 80px;
  margin-top: 40px;
}

.client:hover .client__description {
  /* background-color: var(--color-black); */
  /* display: inline-block; */
  opacity: 0.8;
}

.client__name {
  color: var(--color-white);
  position: absolute;
  top: 75px;
  width: 100%;
  font-size: var(--font-regular);
}

.client__description {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-grey);
  color: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  line-height: 0;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.client__description .division__line {
  width: 80px;
  margin: 20px auto;
  background-color: var(--color-blue);
  border: solid 1px;
}

/* Contact */
#contact {
  /* padding: 20px; */
  /* margin: 80px 0; */
  /* background-color: aqua; */
}

.contact__top {
  margin: 80px 0;
  text-align: center;
}

#contact .title {
  margin: 20px 0;
}

.contact__description {
  margin-bottom: 50px;
}

#contact .talk__container {
  margin: auto;
}

.contact__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 70px 50px 70px;
}

.contact__link {
  margin: 0 13px;
}

/* Scroll */
/* Arrou up Btn */
/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-grey);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    --font-nano: 12px;
  }
  /* Common section */
  .section__container {
    /* width: 740px; */
    /* max-width: 740px; */
    margin: 16px;
    /* padding: 20px 20px 20px 20px; */
  }

  .talk__container {
    width: 150px;
    height: 50px;
  }

  .talk__btn {
    line-height: 50px;
  }

  /* Navbar */
  #navbar {
    justify-content: space-between;
  }

  /* Home */
  #home {
    /* margin: auto; */
    padding: 16px;
  }

  #home .section__container {
    flex-direction: column;
    /* justify-content: center; */
    /* margin: auto; */
  }

  /* home left */
  .home__left {
    z-index: 1;
  }

  .home__title-section .highlights {
    top: 10px;
    width: 63%;
  }

  .home__explore-contents {
    width: 88%;
    margin: 0 0 0 20px;
  }

  /* home center */
  .home__center {
    height: 400px;
    width: 250px;
    order: -1;
    margin: auto;
  }

  .home__avatar-container {
    margin-top: 70px;
  }

  .home__avatar {
    height: 400px;
    width: 250px;
  }

  .home__center .talk__container {
    top: 400px;
    left: 180px;
  }

  /* home right */
  .home__right {
    display: none;
  }

  /* Study */
  #study {
    padding: 16px;
  }

  .work {
    flex-direction: column;
  }

  .work:nth-child(even) {
    margin: 30px 0;
  }

  .work:nth-child(odd) .work__right {
    order: -1;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .work:nth-child(even) .work__left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .work__right .btn__container,
  .work__left .btn__container {
    text-align: right;
  }

  /* Clients */
  #clients .section__container {
    padding: 100px 50px 50px 50px;
  }

  .client {
    width: 200px;
    height: 200px;
  }

  /* Contact */
  .contact__bottom {
    margin: 16px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
